body, html {
  background-color: #e9f1f7;
  margin: 0;
  padding: 0;
}

td {
  background-color: #282828;
  height: 3vw;
  width: 3vw;
  color: #fbf1c7;
  text-align: center;
}

#content {
  height: 100vh;
  overflow: hidden;
}

#game-board {
  width: 100vw;
  overflow: hidden;



  top: 0;
  left: 0;
  height: 100vw;

}

/*
table, tr, td {
  border: 1px solid black;
}
*/

.blue {
  background-color: #458588;
}

.red {
  background-color: #cc421d;
}

.yellow {
  background-color: #d79921;
}

#editor {
  height: 20vh;
  height: inherit;
  resize: none;
  display: block;
  background-color: #282828;
  color: #fbf1c7;
  padding: 2vh 2vw;
  width: 100vw;
}

#editor, #code{

  overflow: hidden;
  width: inherit;
}

#code {
  padding: 0;
  margin: 0;
  width: 100vw;
  position: absolute;
  height: 20vh;
  left: 0;
  bottom: 0;
  opacity: .85;
  z-index: 99;
  display: flex;
}

#publish {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 10vw;
  font-size: 20px;
}

.zoom {
 position: absolute;
 left: 0;
 font-size: 0px;
}

.zoom > button {
  border-radius: 0;
  margin: 0;
  font-size: 20px;
}
