body, html {
  background-color: #e9f1f7;
  margin: 0;
  padding: 0;
}

td {
  background-color: #272d2d;
  height: 3vw;
  width: 3vw;
  color: #e9f1f7;
  text-align: center;
}

tr {
  width: 2vw;
}

#content {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: 100vw;
  height: 100vh;
}

/*
table, tr, td {
  border: 1px solid black;
}
*/

.blue {
  background-color: #404e7c;
}

.red {
  background-color: #805e73;
}

.yellow {
  background-color: #bfb26d;
}
