body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p {
  margin: 0;
  overflow: hidden;

}

.error {
  color: red;
}

.info {
  display: flex;
  width: 65vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.info > div {
  margin-bottom: 5vh;
}

.title {
  font-size: 50px;
}

.code {
  padding: 50px;
  width: 35vw;
  height: 100vh;
  overflow: hidden;
}

#code_textarea {
  background-color: #282828;
  color: #fbf1c7;
  padding: 2vh 2vw;
}
