.error {
  color: red;
}

.container {
  display: flex;
}

.info {
  width: 50vw;
  flex: 1;
}

.code {
  width: 50vw;
  flex: 1;
}

#code_textarea {
  background-color: #282828;
  color: #fbf1c7;
  padding: 2vh 2vw;
}
