body {
  margin: 0;
  padding: 0;
}

.page1 {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.lang-spec {
  height: 95vh;
  padding-top: 5vh;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.lang-spec > * {
  margin: 4px 25px;
}

code {
  font-size: 20px;
}

p {
  margin: 0;
  overflow: hidden;

}

.error {
  color: red;
}

.info {
  display: flex;
  width: 65vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.info > div {
  margin-bottom: 5vh;
}

.title {
  font-size: 50px;
  text-align: center;
}

.code {
  padding: 50px;
  width: 35vw;
  height: 100vh;
  overflow: hidden;
}

#code_textarea {
  background-color: #282828;
  color: #fbf1c7;
  padding: 2vh 2vw;
  font-family: 'Inconsolata', monospace
}
